body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-cont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-class {
  border-bottom: 2px solid #4d5ae5;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 20px 0;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.header-item {
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: inline-block;
  padding: 20px 0;
}

.header-item:hover {
  color: #404bbf;
}

.info-list {
  display: flex;
  gap: 40px;
}

.hero-title-container {
  margin: 20px 0;
  background-color: #fff;
  background-image: url(https://klymkov-ivan.github.io/new-optics/images/photo2025.jpeg);
  background-size: cover; /* масштабування під блок */
  background-position: center; /* центрування зображення */
  background-repeat: no-repeat; /* не повторювати */
  min-height: 600px;
  border-radius: 20px;
  display: flex;
  align-items: center; /* центрування заголовка по вертикалі */
  justify-content: left; /* по горизонталі */
  text-align: center;
  padding: 20px;
  color: #fff; /* або чорний, залежно від картинки */
}

.hero-title {
  font-size: 48px;
  font-weight: 500;
}

.advantages-section {
  padding: 100px 0;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantage-list-item {
  background-color: #ffffff;
  flex-basis: calc((100% - 72px) / 4);
}

.advantage-name {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .logo {
    padding: 2px 0; /* було 20px — стало менше */
  }

  .header-item {
    padding: 2px 0; /* менше вертикального простору між пунктами */
  }

  .hero-title-container {
    min-height: 300px;
  }

  .hero-title {
    font-size: 18px;
  }
}
